html {
    background-color: black;
    color: white;
    font-size: 16px;
}

table#map {
    font-style: italic;
    border-collapse: collapse;
    padding: 0rem;
    margin: 0rem;
    font-size: 1em;
}

table#map td {
    padding: 0rem;
    margin: 0rem;
}

img.tile{
    /* width: 40%; */
    width: 2.5em;
}

img#test_tile{
    transform: rotate(90deg);
}