html {
    background-color: black;
    color: white;
    font-size: 16px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

ul#instructions {
    float: left;
}

ul#highScores {
    float: right;
    margin-right: 4rem;
    list-style: none;
}

li.title {
    list-style: none;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}


table#map {
    font-style: italic;
    border-collapse: collapse;
    padding: 0rem;
    margin: auto;
    font-size: 1em;
}

table#map td {
    padding: 0rem;
    margin: 0rem;
}

img.tile{
    width: 2.5em;
}

img#test_tile{
    transform: rotate(90deg);
}